* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #333;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #111;
  border-radius: 20px;
  width: 400px;
  height: 500px;

  padding: 30px;
  margin: 10% auto;
}

.title {
  border-bottom: 2px solid;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.recipes-list {
  list-style: square;
  margin-left: 20px;
}

.recipe {
  margin-bottom: 20px;
}

.footer > a,
.recipe > a {
  color: #fff;
  text-decoration: none;
}

.footer > a:hover,
.recipe > a:hover {
  text-decoration: underline;
}

.footer {
  border-top: 1px solid #fff;
  margin: 0px 50px;
  padding: 10px;
  text-align: center;
}
